In [ ]:
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame
from scipy import misc
import scipy.misc
import keras

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/PROJECT/Dataset/trial/karimnagar_T.csv",index_col="Date")

In [ ]:
data.head()

,Unnamed: 0,cumm_rainfall,temp_min,temp_max,humidity_min,humidity_max,wind_speed_min,wind_speed_max,heat_w
Date,,,,,,,,,
1/1/2018,0,0.0,13.6,33.2,32.0,47.7,0.0,2.9,F
1/2/2018,1,0.0,13.3,34.3,37.1,45.7,0.0,2.2,F
1/3/2018,2,0.0,13.0,33.2,37.7,55.2,0.0,3.5,F
1/4/2018,3,0.0,11.8,33.4,33.5,61.0,0.0,0.8,F
1/5/2018,4,0.0,12.3,32.9,31.6,53.2,0.0,2.6,F

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Fit and transform the categorical feature using LabelEncoder
data['heat_w'] = le.fit_transform(data['heat_w'])

In [ ]:
data.head()

,Unnamed: 0,cumm_rainfall,temp_min,temp_max,humidity_min,humidity_max,wind_speed_min,wind_speed_max,heat_w
Date,,,,,,,,,
1/1/2018,0,0.0,13.6,33.2,32.0,47.7,0.0,2.9,0
1/2/2018,1,0.0,13.3,34.3,37.1,45.7,0.0,2.2,0
1/3/2018,2,0.0,13.0,33.2,37.7,55.2,0.0,3.5,0
1/4/2018,3,0.0,11.8,33.4,33.5,61.0,0.0,0.8,0
1/5/2018,4,0.0,12.3,32.9,31.6,53.2,0.0,2.6,0

In [ ]:
df=data
data=data.drop(['Unnamed: 0'], axis = 1)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data['temp_min'] = scaler.fit_transform(data['temp_min'].values.reshape(-1,1))
data['cumm_rainfall'] = scaler.fit_transform(data['cumm_rainfall'].values.reshape(-1,1))
data['temp_max'] = scaler.fit_transform(data['temp_max'].values.reshape(-1,1))
data['humidity_min'] = scaler.fit_transform(data['humidity_min'].values.reshape(-1,1))
data['humidity_max'] = scaler.fit_transform(data['humidity_max'].values.reshape(-1,1))
data['wind_speed_min'] = scaler.fit_transform(data['wind_speed_min'].values.reshape(-1,1))
data['wind_speed_max'] = scaler.fit_transform(data['wind_speed_max'].values.reshape(-1,1))

In [ ]:
data

,cumm_rainfall,temp_min,temp_max,humidity_min,humidity_max,wind_speed_min,wind_speed_max,heat_w
Date,,,,,,,,
1/1/2018,0.000000,0.262069,0.492424,0.320320,0.477,0.0,0.043027,0
1/2/2018,0.000000,0.251724,0.534091,0.371371,0.457,0.0,0.032641,0
1/3/2018,0.000000,0.241379,0.492424,0.377377,0.552,0.0,0.051929,0
1/4/2018,0.000000,0.200000,0.500000,0.335335,0.610,0.0,0.011869,0
1/5/2018,0.000000,0.217241,0.481061,0.316316,0.532,0.0,0.038576,0
...,...,...,...,...,...,...,...,...
9/26/2022,0.000000,0.624138,0.477273,0.584585,0.986,0.0,0.115727,0
9/27/2022,0.000000,0.624138,0.496212,0.625626,0.943,0.0,0.154303,0
9/28/2022,0.000000,0.648276,0.458333,0.690691,0.980,0.0,0.096439,0
9/29/2022,0.159333,0.620690,0.450758,0.703704,0.989,0.0,0.105341,0
9/30/2022,0.037333,0.593103,0.469697,0.711712,0.987,0.0,0.151335,0

In [ ]:
data.shape

(1734, 8)

In [ ]:
from sklearn.model_selection import train_test_split
np.random.seed(1)
data_train, data_test = train_test_split(data, test_size=0.2)
#data_train=data
#data_test=data
print(data_test.shape)
print(data_train.shape)

(347, 8)
(1387, 8)

In [ ]:
data_train = data_train[data_train.heat_w == 0]

In [ ]:
X_train = data_train.drop(['heat_w'], axis = 1).values
#X_train = data_train
X_test = data_test.drop(['heat_w'], axis = 1).values
#X_test = data_test
Y_test = data_test['heat_w']

In [ ]:
import tensorflow as tf

In [ ]:
min_val = tf.reduce_min(X_train)
max_val = tf.reduce_max(X_train)
X_train = (X_train - min_val) / (max_val - min_val)
X_test = (X_test - min_val) / (max_val - min_val)
X_train = tf.cast(X_train, tf.float32)
X_test = tf.cast(X_test, tf.float32)

In [ ]:
X_train

<tf.Tensor: shape=(1272, 7), dtype=float32, numpy=
array([[0.        , 0.7862069 , 0.75757575, ..., 0.634     , 0.06967213,
        0.1661721 ],
       [0.01866667, 0.6413793 , 0.5265151 , ..., 0.971     , 0.        ,
        0.11424332],
       [0.        , 0.6034483 , 0.57954544, ..., 0.825     , 0.        ,
        0.05637982],
       ...,
       [0.        , 0.4448276 , 0.32954547, ..., 0.809     , 0.        ,
        0.06246128],
       [0.01      , 0.6172414 , 0.46969697, ..., 0.961     , 0.        ,
        0.09198813],
       [0.        , 0.4862069 , 0.29924244, ..., 0.745     , 0.        ,
        0.11127596]], dtype=float32)>

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Activation,Flatten,Dropout
import random
from tensorflow.keras.optimizers import SGD

In [ ]:
random.seed(42)
np.random.seed(42)
tf.random.set_seed(42)
dnnModel=Sequential()
dnnModel.add(Dense(256,activation="relu",input_shape=(1734,)))
dnnModel.add(Dense(256,activation="relu"))
dnnModel.add(Dense(128,activation="relu"))
dnnModel.add(Dense(64,activation="relu"))
dnnModel.add(Dropout(0.5))
dnnModel.add(Dense(2,activation="softmax"))
dnnModel.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 256)               444160

 dense_2 (Dense)             (None, 256)               65792

 dense_3 (Dense)             (None, 128)               32896

 dense_4 (Dense)             (None, 64)                8256

 dropout (Dropout)           (None, 64)                0

 dense_5 (Dense)             (None, 2)                 130

=================================================================
Total params: 551,234
Trainable params: 551,234
Non-trainable params: 0
_________________________________________________________________

In [ ]:
sgd=SGD(lr=0.01)

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.SGD.

In [ ]:
dnnModel.compile(optimizer='sgd',loss="binary_crossentropy",metrics=["accuracy"])

In [ ]:
dnnModel.fit(X_train,epochs=150,batch_size=64,verbose=1,validation_split=0.1)

In [ ]:
testLoss,testAccuracy=dnnModel.evaluate(X_test,Y_test)

In [ ]:
print("testAccuracy=",testAccuracy)